/*this is a new main.css. The old one was bad structured.*/

/*-------- MAIN.GLOBAL ---------*/

html {
    font-family: Circular Std, sans-serif;
}

h1 {
    font-size: 28px;
    font-weight: 1200;
    color: #2B9DFF;
    text-align: center;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/*-------- MAIN.GLOBAL ---------*/

/*-------- DESKTOP START -------*/
body {
    position: relative;

}

body::after {
    content: '';
    position: absolute;
    top: -700px;
    right: -850px;
    height: 130%;
    width: 100%;
    background-image: url(Assets/Bild1-header.png);
    background-repeat: no-repeat;
    background-size: 80%;
    z-index: -100;

}

#firsttxt {
    text-align: left;
    margin-right: 1250px;
    margin-left: 70px;
}

#secondtxt {
    display: flex;
    align-items: center;
    margin: 80px 340px 0 340px;
}

.btnFilled {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #2B9DFF;
    border-radius: 6px;
    width: 175px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    position: static;
    align-content: center;
    margin: auto;
}

.btnOutline {
    display: block;
    text-decoration: none;
    color: #2B9DFF;
    border: 2px solid #2B9DFF;
    border-radius: 6px;
    width: 175px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    margin-left: 70px;
    margin-top: 10px;
}

/*----- NAV START -----*/

nav {
    margin: 100px 40px 30px 60px;
}

/*--- nav logo ---*/

.logo {
    height: auto;
    width: 580px;
}

nav a {
    text-decoration: none;
    color: #202427;
    font-size: 25px;
    font-weight: 700;
    margin: 0 10px;
}

nav .kontakt {
    background-color: #2B9DFF;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 100;
    color: white;
}

/*-------- NAV END ---------*/
.about::after {
    content: '';
    position: absolute;
    top: 900px;
    right: 100px;
    height: 50%;
    width: 100%;
    background-image: url(Assets/Bild2-aboutus.png);
    background-repeat: no-repeat;
    background-size: 40%;
    z-index: -100;
}



/*-------- MOBILE START ---------*/
@media only screen and (max-width: 700px) {
    body {
        background-color: aliceblue;
    }

    .about::after {
        left: -300px;
    }

    .btnOutline {
        display: block;
        text-decoration: none;
        color: #2B9DFF;
        border: 2px solid #2B9DFF;
        border-radius: 6px;
        width: 175px;
        height: 53px;
        line-height: 53px;
        text-align: center;
        position: static;
        align-content: center;
        margin: auto;
    }

    .btnFilled {
        display: block;
        text-decoration: none;
        color: white;
        background-color: #2B9DFF;
        border-radius: 6px;
        width: 175px;
        height: 53px;
        line-height: 53px;
        text-align: center;
        position: static;
        align-content: center;
        margin: auto;
    }

    /*----- NAV START -----*/

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 20px;
    }

    /*--- nav logo ---*/

    .logo {
        height: auto;
        width: 380px;
    }

    nav a {
        text-decoration: none;
        color: #202427;
        font-size: 25px;
        font-weight: 700;
        margin: 0 10px;
    }

    nav .kontakt {
        background-color: #2B9DFF;
        padding: 5px 15px;
        border-radius: 10px;
        font-weight: 100;
        color: white;
    }

    /*-------- NAV END ---------*/

    #firsttxt {
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
    }

    #secondtxt {
        display: flex;
        align-items: center;
        margin: 30px;
    }

    .columnmartin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .columnstoffe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .columntyra {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*------- mobile -------*/
}
