/*this is a new main.css. The old one was bad structured.*/

/*-------- MAIN.GLOBAL ---------*/

html {
    font-family: Circular Std, sans-serif;
}

h1 {
    font-size: 28px;
    font-weight: 1200;
    color: #2B9DFF;
    text-align: center;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/*-------- MAIN.GLOBAL ---------*/

/*-------- DESKTOP START -------*/


@media only screen and (max-width: 700px) {
  body {
    background-color: lightblue;
  }
}










/*-------- MOBILE START ---------*/

/*-------- BUTTONS START ---------*/

.btnOutline {
    display: block;
    text-decoration: none;
    color: #2B9DFF;
    border: 2px solid #2B9DFF;
    border-radius: 6px;
    width: 175px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    margin-left: 30%;
}

.btnFilled {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #2B9DFF;
    border-radius: 6px;
    width: 175px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    margin-left: 30%;
}

/*-------- BUTTONS END --------*/

/*----- NAV START -----*/

nav {
    line-height: 250px;
    text-align: left;
}

/*--- nav logo ---*/

#logo{
    height: auto;
    width: 50px;
}

nav a {
    text-decoration: none;
    color: #202427;
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: -30px;
}

nav a span {
    background-color: #2B9DFF;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 100;
    color: white;
}
/*-------- NAV END ---------*/
/*----- THE TRINITY START ------*/

.columntyra h3{
    margin-left: 30px;    
}

.row p{
margin-left:50px;
}

.columnmartin p{
margin-left:35%;
}

.columnmartin h3{
margin-top: -70px;
margin-left: 30%;
}

.columnmartin img{
height:170px;
width:auto;
margin: 30%;
margin-top: 60px;
}

.columnstoffe p{
margin-left:30%;
}

.columnstoffe h3{
margin-top: -70px;
margin-left: 30%;
}

.columnstoffe img {
height:170px;
width:auto;
margin: 30%;
margin-top: 10px;
}

.columntyra p{
margin-left:30%;
}

.columntyra h3{
margin-top: -70px;
margin-left: 30%;
}

.columntyra img {
height:170px;
width:auto;
margin: 30%;
margin-top:10px;
}

/*------- THE TRINITY END -------*/
/*------- mobile -------*/
